.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

summary.event {
    display: flex;
    flex-wrap: wrap;
}

summary.event>div {
    flex-grow: 1;
}

summary.event>a {
    flex-grow: 0;
    width: 3rem;
    padding: 0.5rem;
    background-color: var(--level-2);
    border-radius: 0.5rem;
}

summary.event>a:hover {
    outline: solid 0.2rem var(--focus);
}

section.rso > .rso-description
{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}