.combobox-list {
    position: relative;
  }
  
  .combobox input {
    width: 100%;
    border-right: none;
  }
  
  .combobox button {
    width: 19px;
    border-left: none;
    outline: none;
    color: rgb(0 90 156);
  }
  
  .combobox button[aria-expanded="true"] svg {
    transform: rotate(180deg) translate(0, -3px);
  }
  
  ul[role="listbox"] {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 34px;
    list-style: none;
    background-color: var(--level-1);
    color: var(--mediumEmphasis);
    display: none;
    box-sizing: border-box;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 87.5%;
    cursor: pointer;
  }
  
  ul[role="listbox"] li[role="option"] {
    margin: 0;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    display: block;
  }
  
  /* focus and hover styling */  
  .combobox .group.focus polygon,
  .combobox .group:hover polygon {
    fill-opacity: 1;
  }
  
  [role="listbox"].focus [role="option"][aria-selected="true"],
  [role="listbox"] [role="option"]:hover {
    background-color: var(--level-2);
    border-top: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
  }