<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Exclude existing files and directories from routing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all requests to the PHP router script
    RewriteRule ^(.*)$ index.php [L]
</IfModule>